
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Web Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .floatLeft {
            float: left;
        }

        .floatRight {
            float: right;
        }

        #unOrderList {
            list-style-type: none;
        }

            #unOrderList li {
                float: left;
                position: relative;
            }

                #unOrderList li a {
                    display: inline-block;
                    overflow: hidden;
                    background: #5F5F5F;
                    padding: 7px 7px;
                    color: white;
                    text-decoration: none;
                    transition: .5s all ease-in;
                }

                    #unOrderList li a:hover {
                        background: #000000;
                        color: white;
                        text-decoration: none;
                    }

                #unOrderList li ul {
                    list-style-type: none;
                    z-index: 99;
                    margin-top: 1px;
                    position: absolute;
                    left: -9999px;
                }

                    #unOrderList li ul li {
                        float: none;
                        margin-left: -40px;
                        margin-top: -6px;
                    }

                        #unOrderList li ul li a {
                            display: inline-block;
                            overflow: hidden;
                            background: #5F5F5F;
                            color: white;
                            text-decoration: none;
                            transition: .5s all ease-in;
                            width: 200px;
                        }

                            #unOrderList li ul li a:hover {
                                background: #4CAF50;
                            }

                #unOrderList li:hover ul {
                    left: 0;
                }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="background: #5F5F5F; height: 44px;">
                <div class="floatLeft">
                    <ul id="unOrderList">
                        <li><a href="../Home/Index"><b>Premier University</b></a></li>
                        <li>
                            <a href="#">Department</a>
                            <ul>
                                <li><a href="../Department/Create">Create Department</a></li>
                                <li><a href="../Department/Index">Department Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Course</a>
                            <ul>
                                <li><a href="../Course/Create">Create A New Course</a></li>
                                <li><a href="../Course/Index">Course Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Teacher</a>
                            <ul>
                                <li><a href="../Teacher/Create">Create New Teacher</a></li>
                                <li><a href="../Teacher/Index">Teacher Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Student</a>
                            <ul>
                                <li><a href="../Student/Create">New Student</a></li>
                                <li><a href="../Student/Index">Student Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Class Room Allocation</a>
                            <ul>
                                <li><a href="../ClassRoomAllocation/Create">Create Classrom</a></li>
                                <li><a href="../ClassRoomAllocation/ClassRoomAllocationList">Class Room Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Course Assigning</a>
                            <ul>
                                <li><a href="../CourseAssignTo/Create">Course Assigning</a></li>
                                <li><a href="../CourseAssignTo/Assigning">Course Assigning With Checkbox</a></li>
                                <li><a href="../CourseAssignTo/CourseStatistics">Course Statistics By Department</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Enrollment</a>
                            <ul>
                                <li><a href="../Admin/EnrollStatistics">Enrollment Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Result</a>
                            <ul>
                                <li><a href="../Results/Create">Save Student Result</a></li>
                                <li><a href="../Admin/ViewResult">View Result</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="floatRight">
                    <ul id="unOrderList">
                        <li>
                            <button id="logOutButon" class="btn btn-primary" style=" margin-top: 3px; margin-right: 55px;">Log Out</button>

                        </li>

                    </ul>
                </div>
            </div>
            @*<div style="float: right; position: absolute; right: 10px">

                </div>*@
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<h5>@Model.FirstName</h5>*@
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; All Right Preserved @DateTime.Now.Year Premier University, Chottogram.</p>
                    </footer>
                </div>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/Content/CustomStyle.css")
                @RenderSection("scripts", required: false)

            </div>
        </div>
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $('#logOutButon').click(function() {
            var url = "@Url.Action("Index", "Home")";
            window.location.href = url;
        });
    });
</script>
