<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Web Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 0;
        }

        .actionLinkStylePremier {
            display: inline-block;
            padding: 10px 10px;
            text-align: center;
            color: white;
            font-weight: bold;
        }

            .actionLinkStylePremier:hover {
                text-decoration: none;
                background: #ddd;
                color: black;
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                -ms-transition: .5s all ease;
                -o-transition: .5s all ease;
                transition: .5s all ease;
            }

        .actionLinkStyle {
            display: inline-block;
            text-align: center;
            color: black;
        }

            .actionLinkStyle:hover {
                text-decoration: none;
                background: #ddd;
                color: black;
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                -ms-transition: .5s all ease;
                -o-transition: .5s all ease;
                transition: .5s all ease;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        @Html.ActionLink("Premier University", "Index", "Home", null, new { @class = "actionLinkStylePremier" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div style="float: right; position: absolute;right: 10px">
            <button id="logOut" class="btn btn-primary">Log Out</button>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; All Right Preserved @DateTime.Now.Year Premier University, Chottogram.</p>
                    </footer>
                </div>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/Content/CustomStyle.css")
                @RenderSection("scripts", required: false)

            </div>
        </div>
    </div>

</body>
</html>
