
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Web Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/CustomStyle.css" rel="stylesheet" />*@
    <style>
        .floatLeft {
            float: left;
        }

        .floatRight {
            float: right;
        }

        #unOrderList {
            list-style-type: none;
        }

            #unOrderList li {
                float: left;
                position: relative;
            }

                #unOrderList li a {
                    display: inline-block;
                    overflow: hidden;
                    padding: 10px 20px;
                    background: #5F5F5F;
                    color: white;
                    text-decoration: none;
                    transition: .5s all ease-in;
                }

                    #unOrderList li a:hover {
                        background: #000000;
                        color: white;
                        text-decoration: none;
                    }

                #unOrderList li ul {
                    list-style-type: none;
                    z-index: 99;
                    margin-top: 1px;
                    position: absolute;
                    left: -9999px;
                }

                    #unOrderList li ul li {
                        float: none;
                        margin-left: -40px;
                        margin-top: -6px;
                    }

                        #unOrderList li ul li a {
                            display: inline-block;
                            overflow: hidden;
                            padding: 10px 20px;
                            background: #5F5F5F;
                            color: white;
                            text-decoration: none;
                            transition: .5s all ease-in;
                            width: 200px;
                        }

                            #unOrderList li ul li a:hover {
                                background: #4CAF50;
                            }

                #unOrderList li:hover ul {
                    left: 0;
                }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="background: #5F5F5F; height: 44px;">
                <div class="floatLeft">
                    <ul id="unOrderList">
                        <li><a href="#"><b>Premier University</b></a></li>
                        <li><a href="#">Enrollment And Statistics</a>
                            <ul>
                                <li><a href="../Enrollment/EnrollAStudent">Enrollment</a></li>
                                <li><a href="../Enrollment/EnrollStatistics">Enrollment Statistics</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Result</a>
                            <ul>
                                <li><a href="../Results/ViewResult">Result</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="floatRight">
                    <ul id="unOrderList">
                        <li>
                            <button id="logOut" class="btn btn-primary">Log Out</button>

                        </li>

                    </ul>
                </div>
            </div>
            @*<div style="float: right; position: absolute; right: 10px">

                </div>*@
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">


            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; All Right Preserved @DateTime.Now.Year Premier University, Chottogram.</p>
                    </footer>
                </div>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/Content/CustomStyle.css")
                @RenderSection("scripts", required: false)
                <script>
                    $('#logOut').click(function() {
                        var url = "@Url.Action("Index", "Home")";
                        window.location.href = url;
                    });
                </script>
            </div>
        </div>
    </div>

</body>
</html>
