@model IEnumerable<UniversityManagementSystemApp.Models.Teacher>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="margin-top: 60px">
                    <h4 style="font-family: consolas">Teacher Information Table</h4>
                    <table class="table table-bordered table-striped table-hover table-responsive">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Department.DeptCode)
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherContactNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreditTaken)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreditLeft)
                            </th>
                            @*<th></th>*@
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.DeptCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Designation.DesignationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherContactNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditTaken)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditLeft)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>