@model UniversityManagementSystemApp.Models.Department
<link href="~/Content/CustomStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="customStyle">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Create New Department</h4>
            @Html.ValidationSummary(true)

            @if (ViewBag.Message != null)
            {
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-4">
                        <div class="alert alert-@ViewBag.MessageType">
                            @Html.Raw(ViewBag.Message)
                        </div>
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.DeptCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x=>x.DeptCode, new {@class="form-control col-lg-6"})
                    @Html.ValidationMessageFor(model => model.DeptCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DeptName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.DeptName, new { @class = "form-control col-lg-6" })
                    @Html.ValidationMessageFor(model => model.DeptName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>